.board {
  width: 760px;
  height: 460px;
  border: 5px solid #1a1a1a;
  margin: 0 auto;
}

.board-box {
  margin-top: 10px;
}

.container {
  margin-top: 50px;
}

.tile_black {
  width: 15px;
  height: 15px;
  border: 0.5px solid #1a1a1a;
  float: left;
  background-color: black;
}

.tile_white {
  width: 15px;
  height: 15px;
  border: 0.5px solid #1a1a1a;
  float: left;
  background-color: white;
}
